# direnv file: https://github.com/direnv/direnv
#   Automatically sets the GOPATH to the directory wherever this .envrc
#   file lives, even from subdirectories
OLD_GOPATH=$GOPATH
NEW_GOPATH=`pwd`

if [ "$OLD_GOPATH" != "$NEW_GOPATH" ]; then # don't quote the variables, to strip the newline
  export GOPATH=$NEW_GOPATH
  echo "direnv changed GOPATH"
  echo "  from $OLD_GOPATH"
  echo "  to $NEW_GOPATH"
fi
