{
    "signing": {
        "default": {
            "expiry": "{{ cfssl.validity }}"
        },
        "profiles": {
            "www": {
                "expiry": "{{ cfssl.validity }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth"
                ]
            },
            "ca": {
                "expiry": "{{ cfssl.validity }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth"
                ]
            },
            "client": {
                "expiry": "{{ cfssl.validity }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "client auth"
                ]
            }
        }
    }
}

